* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.container{
    background: linear-gradient(rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0.6)), url('fitness3.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}